p{color:brown;font-size:24px;font-weight:bold;font-style:italic;}
.c1{color:red;font-size:24px}
h2.c2{color:blue!important;}
#n1{color:black;}
h2#n3{color:green;font-size:20px}
a{color:yellow;}
a:hover{color:blue;}